# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\usuario.307\Desktop\JOE WATSON SBF\Archive\UCO\2021-1\Software IV\GIMNASIO\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
